// ==========================================================================
// Vlaanderen UI -- RichDataTable
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "vl-ui-core/src/scss/core";

// ==========================================================================
// Util
// ==========================================================================
@import "vl-ui-util/src/scss/util";

// ==========================================================================
// Components
// ==========================================================================

th[data-vl-sortable] {
    a {
        cursor: pointer;
    }
}

.vl-filter__close {
    position: absolute;
    top: 1.5rem;
    right: 0rem;
    padding: 0rem;
    border: 0;
    overflow: hidden;
}
