[name="sortable-span"]{
  cursor: pointer;
}

[name="sortable-text"] {
  font-size: x-small;
  vertical-align: super;
}

th.vl-sortable > [is='vl-icon'] {
  vertical-align: middle;
}

caption {
  caption-side: bottom;
}